.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* style of logo png */
.header .logo {
    width: 100px;
}

.header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .links a {
    margin-right: 48px;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 800;
}