.about { 
    background-color: #f8f9fa;
    padding: 50px 0;
    height: 100vh;
    width: 100%;
}

.more-space {
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-section {
    position: sticky;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-section .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.header-section .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
